body {
    background-color: #EAECFF;
}

.arrow_abissian {
    width: 55px; 
    height: 55px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 35px;
    margin-top: -53px;
}

.British_text {
    margin-left: 32px;
    font-size: 42px;
}

.British_all img {
    height: 440px;
    width: 425px;
    margin-right: 10px;
    margin-top: -20px;
}

.British_all {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #EAECFF;
}