body {
    background-color: #EAECFF;
}

.arrow_abissian {
    width: 55px; 
    height: 55px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 35px;
    margin-top: -53px;
}

.Abissian_text {
    margin-left: -10px;
    font-size: 42px;
}

.Abissian_all img {
    height: 340px;
    width: 345px;
    margin-right: 35px;
}

.Abissian_all {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #EAECFF;
}