body {
    background-color: #EAECFF;
}

.arrow_abissian {
    width: 55px; 
    height: 55px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 35px;
    margin-top: -53px;
}

.Karakal_text {
    margin-left: 68px;
    font-size: 42px;
}

.Karakal_all img {
    height: 285px;
    width: 380px;
    margin-top: 30px;
}

.Karakal_all {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #EAECFF;
}