body {
    background-color: #EAECFF;
}

.arrow_abissian {
    width: 65px; 
    height: 65px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 35px;
    margin-top: -64px;
}

.Maincun_text {
    margin-left: -60px;
    font-size: 52px;
}

.Maincun_all img {
    height: 380px;
    width: 360px;
}

.Maincun_all {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #EAECFF;
}